<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>
      ACME Schedule Data Tool
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#c5050c">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#c5050c">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="fonts/uw160/fonts.0.0.1.css">
    <link rel="stylesheet" href="css/uw-style.css?version=2.1.4">
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'')})(document.documentElement)</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <a class="uw-show-on-focus" href="#main" id="uw-skip-link">Skip to main content</a>
    <div class="uw-global-bar" role="navigation">
      <a class="uw-global-name-link" href="http://www.wisc.edu" aria-label="University home page">U<span>niversity <span class="uw-of">of</span> </span>W<span>isconsin</span>–Madison</a>
    </div>
    <header id="branding" class="uw-header">
      <div class="uw-header-container">
        <div class="uw-header-crest-title">
          <div class="uw-header-crest">
            <a href="http://www.wisc.edu"><img class="uw-crest-svg" src="images/uw-crest.svg" alt="Link to University of Wisconsin-Madison home page"></a>
          </div>
          <div class="uw-title-tagline">
            <h1 id="site-title" class="uw-site-title">
              <a href="" rel="home">ACME Schedule Data</a>
            </h1>
            <div id="site-description" class="uw-site-tagline">Analyzing DoIT Help Desk Schedule</div>
          </div>
        </div>
      </div>
    </header>
    <button class="uw-mobile-menu-button-bar uw-mobile-menu-button-bar-reversed uw-is-closed " data-menu="uw-top-menus" aria-label="Open menu" aria-expanded="false" aria-controls="uw-top-menus">Menu<svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-menu"></use></svg><svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-close"></use></svg></button>


    <div id="uw-top-menus" class="uw-is-visible uw-horizontal" aria-hidden="false">
      <div class="uw-main-nav">
        <nav class="uw-nav-menu uw-nav-menu-reverse" aria-label="Main Menu">
          <ul id="uw-main-nav">
            <li class="menu-item">
              <a href="/" aria-current="page">Home</a>
            </li>
            <li class="current-menu-item">
              <a href="/tool" aria-current="page">Schedule Tool</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
      
      
    <main class="uw-pad-xl" id="main">
      <div class="uw-body">
          
          
          <h1>ACME Schedule Tool</h1>
          <form action="/results" method="post">
              <h2 class="uw-mini-bar">Set Date Range</h2>
              <fieldset>
                  <legend>Start Date</legend>
                  <input type="date" id="start_date" name="start_date">
              </fieldset>
              <fieldset>
                  <legend>End Date</legend>
                  <input type="date" id="end_date" name="end_date">
              </fieldset>
              
              <h2 class="uw-mini-bar">Set Filter</h2>
              <fieldset>
                  <legend>Role Filters</legend>
                  <label><input name="role" type="radio" value="1" checked> All</label>
                  <label><input name="role" type="radio" value="2"> Only Students</label>
                  <label><input name="role" type="radio" value="3"> Only HDQA</label>
                  <label><input name="role" type="radio" value="4"> Only STL</label>
                  <label><input name="role" type="radio" value="5"> Only Walk In</label>
                  <label><input name="role" type="radio" value="6"> Only Phones</label>
                  <label><input name="role" type="radio" value="7"> Only Chat/Email</label>
                  <label><input name="role" type="radio" value="8"> Only Training</label>
                  <label><input name="role" type="radio" value="9"> Only Meetings and Events</label>
              </fieldset>
              
              <h2 class="uw-mini-bar">Advanced Options</h2>
              <fieldset>
                  <legend>Agent Hours Options</legend>
                  <label><input name="most_first" type="checkbox" value="1" checked> Order Most Hours First</label>
              </fieldset>
              <fieldset>
                  <legend>Schedule Cost Options</legend>
                  <label><input name="options_1" type="checkbox" value="1" checked> Show Total Cost</label>
                  <label><input name="options_2" type="checkbox" value="2"> Show Agent Cost as Day Average</label>
              </fieldset>
              
              <button class="uw-button" type="submit">Get Data</button>
          </form>
          
          <h2 class="uw-mini-bar">Results</h2>
          {{ results }}

      </div>
    </main>

      
    <!--[if lte IE 9]>
      <script src="js/polyfills/classList.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <script src="js/polyfills/addEventListener.js"></script>
    <![endif]-->
    <script src="js/_uw-style.min.js?version=2.1.4"></script>
  </body>
</html>